body{
  background: linear-gradient(rgb(126, 0, 0), rgb(0, 0, 0));
  padding:0;
  font-family: 'Just Me Again Down Here', cursive;
  height: 880px;

}
.title {
  width: 200%;
  column-count: 2;
  margin-bottom: 0px;
  margin-left: 100%;
  height: 250px;
}
#E {
  font-family: 'Modak', cursive;
  font-size: 250px;
  margin-top: -70px;
  margin-left: -10%;
  color: rgb(196, 0, 0);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.94), 0px -1px 10px rgb(255, 234, 0);

}
.pageHead {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.94), 0px -1px 10px rgba(0,0,0,.7);
  font-family: 'Modak', cursive;
  font-size: 70px;
  color: yellow;
  margin-left: -5%;
  margin-top: -477px;
  padding-top: 70px;
  width: 150%;
}
img {
  width: 15%;
  position: absolute;
  margin-left: 30%;
  margin-top: 1%;
  
}
li {
  padding: 5px;
  margin: 5px;
  background: #ff9100;
}

.label {
  font-weight: bold;
}

.create-form {
  border-top: 2px solid rgb(255, 0, 0);

  margin-right: 0%;
  border-radius: 30% 30% 0 0 ;
  padding: 10px;
  background: linear-gradient(rgb(116, 0, 0), rgb(79, 0, 0));
  width: 40%;
  margin-top: -0px;
}

.form-group {

  margin-bottom: 5px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: auto;
}

/* ul {
  width: 100px;
  background: yellow;
  float: left;
  border-radius: 10px;
  padding:0;
  white-space:normal;
  display:inline-block;

} */
#ca{
  border-radius: 30px 0px 0px 30px;

  background: #ffff00;
  height:25px;
  margin-left: 15%;
  width: 50%;

}
button {
  box-sizing: border-box;
  border-radius: 0 30px 30px 0%;
  height: 30px;
  background: #ffff00;
  border-top: 2px solid rgb(194, 194, 194);
  border-bottom: 2px solid white;
  width: 20%;
  
}
button:hover{
  color: rgb(109, 0, 0);
  font-weight: bold;
  background: rgb(106, 102, 0);
}

.down {
  width: 100%;
  column-count: 2;
}
/* /////////////////////////// left ///////////////////// */
.burgerListsSectionOrder {
  border-top: 2px solid rgb(255, 0, 0);
  border-radius: 50% 50% 0 0 ;
  margin-left: 0%;
  background: linear-gradient(rgb(116, 0, 0), rgb(0, 0, 0));
  width: 100%;
  display: block;
  max-height: 550px;
  padding-top: 10px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.burgerListOrder {
  margin-left: -18%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.burgerItemNumber {
  box-sizing: border-box;
  width: 40%;
  /* height: 60px; */
  border: 1px solid black;
  text-align: center;
  font-size:40px;
  padding:10px;
  border-radius: 500px 500px 50px 50px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.94), 0px -1px 10px rgb(9, 8, 0);

  background: linear-gradient(rgb(118, 75, 0), rgb(238, 151, 0));
}

.burgerItemDevour {
  
  box-sizing: border-box;
  width: 45%;
  height: auto;
  border: 1px solid black;
  text-align: center;
  font-size:120%;
  padding: 6px;
  border-radius: 40px;
  background: linear-gradient(rgb(87, 0, 0),rgb(123, 47, 0));
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.94), 0px -1px 10px rgb(255, 234, 0);



}
.devourButton {
  box-sizing: border-box;
  width: 40%;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  font-size:120%;
  padding: 7px;
  border-radius: 6px 6px 40px 40px;
  background: linear-gradient(rgb(238, 151, 0), rgb(118, 75, 0));
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.94), 0px -1px 10px rgb(28, 25, 0);

}
.devourButton:hover{
  color: red;
  font-weight: bold;
}
.eachLeft {
  margin-left: -33px;
  width: 130%;
  background-image: url();
}
.green {
  box-sizing: border-box;
  width: 40%;
  height: auto;
  border: 1px solid black;
  text-align: center;
  font-size:120%;
  padding: 2px;
  border-radius: 40px;
  background-image: linear-gradient(45deg, rgb(45, 97, 0) 10%, transparent 100%, transparent 20%, rgb(97, 45, 12) 0%, rgb(114, 2, 2)),
    linear-gradient(45deg, rgb(26, 121, 0) 100%, transparent 0%, transparent 0%, rgb(75, 30, 30) 75%, rgb(118, 3, 3));

}
.red {
  box-sizing: border-box;
  width: 35%;
  height: auto;
  border: 1px solid black;
  text-align: center;
  font-size:120%;
  padding: 2px;
  border-radius: 40px;
  background-image: linear-gradient(45deg, rgb(222, 0, 0) 10%, transparent 100%, transparent 20%, rgb(97, 45, 12) 0%, rgb(114, 2, 2)),
    linear-gradient(45deg, rgb(191, 26, 26) 100%, transparent 0%, transparent 0%, rgb(75, 30, 30) 75%, rgb(118, 3, 3));

}
.white {
  box-sizing: border-box;
  width: 35%;
  height: auto;
  border: 1px solid black;
  text-align: center;
  font-size:120%;
  padding: 2px;
  border-radius: 40px;
background: rgb(145, 144, 144);
}
.k-m {
  box-sizing: border-box;
  width: 38%;
  height: auto;
  border: 1px solid black;
  text-align: center;
  font-size:120%;
  padding: 1px;
  border-radius: 40px;
  background-image: linear-gradient(45deg, rgb(193, 0, 0) 10%, transparent 100%, transparent 20%, rgb(97, 45, 12) 0%, rgb(114, 2, 2)),
    linear-gradient(45deg, rgb(151, 162, 148) 100%, transparent 0%, transparent 0%, rgb(75, 30, 30) 75%, rgb(118, 3, 3));

}

/* /////////////////////////// left ///////////////////// */



/* /////////////////////////// right ///////////////////// */

.burgerListsSectionFinish {
  border-top: 2px solid rgb(255, 0, 0);
  border-radius: 50% 50% 0 0 ;
  /* margin-left: -63%; */
  background: linear-gradient(rgb(116, 0, 0), rgb(0, 0, 0));
  width: 100%;
  max-height: 550px;
  padding-top: 10px;
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.94), 0px -1px 10px rgb(255, 0, 0);


}

.burgerItemFinish{
  align-items: center;
  display: flex;
  flex-direction: column;

  
  box-sizing: border-box;
  width: 45%;
  height: auto;
  border: 1px solid rgb(0, 0, 0);
  color: yellow;
  text-align: center;
  font-size:120%;
  padding:7px;
  border-radius: 30px;
  background:rgb(121, 28, 0);
  /* position: relative; */
  white-space:normal;
  display:inline-block;

  background: linear-gradient(rgb(87, 0, 0),rgb(123, 47, 0));
  color:rgb(138, 138, 138);

}

.eachRight {
  margin-left: -33px;
  width: 130%;
}
/* /////////////////////////// right ///////////////////// */



/* ul{
  float: left;
  border-radius: 10px;
  background: red;
  padding:0;
  white-space:normal;
  display:inline-block;

} */

